@import "../vars";

  .aside {
    width: 320px;
    min-width: 320px;
    background-color: $white;
    height: 171vh;
    margin: 0px;
    font-family: "TT Lakes";
    font-size: 16px;
    color: $main-text-color;
    font-weight: 500;
    z-index: 10;
    
  }
  .burger-cancel{
    display: none;
    background-color: $white;
  }
  .call-aside{
    border: none;
    background-color: $white;
  }
  .feedback-sidebar{
    border: none;
    background-color: $white;
    margin-left: 10px;
  }
  .profile-aside{
    border: none;
    background-color: $white;
    margin-left: 10px;
  }
  .header__aside{
    
    display: flex;
  }
  .logo-aside{
    padding-top: 30px;
    padding-left: 20px;
  }
  .search-aside{
    padding-top: 35px;
    padding-left: 120px;
  }
  .content-aside{
    position: relative;
    margin-top: 37px;
    margin-left: 24px;
    display: flex;
    flex-direction: column;
  }
  .info-aside{
    padding-top: 31px;
  }
  .info-aside:first-child{
    padding-top: 0px;
  }
  #aside-color{
    color: $menu-text-color;
  }
  .highlight{
    position: absolute;
    width: 3px;
    height: 28px;
    left: -24px;
    top: 45px;
  }
  .footer-aside{
    position: relative;
    margin-top: 241px;
    margin-left: 19px;
    display: flex;
    flex-direction: column;
  }
  .aside__icons{
    display: flex;
    
  }
  .aside__icons img{
    padding-left: 16px;
  }
  .aside__icons img:first-child{
    padding-left: 0px;
  }
  .mail-aside{
    padding-top: 16px;
   }
   .number-aside{
    padding-top: 20px;
    font-size: 23px;
    font-weight: 900;
   }
   .language-aside{
    display: flex;
    margin-top: 48px;
    margin-left: 2px;
   }
   .language-aside span{
    padding-left: 7px;
   }
   .language-aside span:first-child{
    padding-left: 0px;
    color: $menu-text-color;
   }

