@import "../vars";
* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .aside{
    width: 320px;
    min-width: 320px;
    background-color: $white;
    height: 150vh;
    margin: 0px;
    font-family: "TT Lakes";
    font-size: 16px;
    color: $main-text-color;
    font-weight: 500;
    position: absolute;
    left: -440px;
    transition: left 0.7s ease-in-out;
    box-shadow: 16px 0px 52px rgba(156, 108, 233, 0.349);
    .logo-aside{
      padding-top: 18px;
      padding-left: 16px;
    }
    .search-aside{
      padding-top: 24px;
      padding-left: 90px;
    }
    .burger-cancel{
      padding-top: 24px;
      padding-left: 16px;
      display: block;
      border: none;
      background-color: $white;
    }
    .burger-cancel button{
      border: none;
      background-color: $white;
    }
    .info-aside:first-child{
      color: $menu-text-color;
    }
    #aside-color{
      color: $main-text-color;
    }
    .highlight{
      position: absolute;
    width: 3px;
    height: 28px;
    left: -24px;
    top: -5px;
    }
  }
  .header {
    overflow: hidden;
    border-bottom: #d9fff5 1px solid;
    width: 768px;
    height: 88px;
    background-color: $white;
    position: relative;
    & img {
      width: 40px;
      height: 40px;
    }
    @mixin pr($pad) {
      padding-right: $pad;
    }
    .burger {
      border: none;
      background-color: $white;
    }
    button:hover {
      background-color: $menu-text-color;
      opacity: 0.7;
    }
    .button-p{
      display: none;
    }
    .header__buttons {
      padding-left: 16px;
      padding-top: 24px;
      display: flex;
    }
    .header__button-img {
      display: flex;
      margin-left: 380px;
    }
    .header__buttons-pics {
      display: flex;
      margin-left: 42px;
    }
    .button-call, 
    .button-repair, 
    .button-chat {
      @include pr(20px);
    }
    
    .header__logo img {
      position: absolute;
      width: 96px;
      height: 50px;
      left: 105px;
      top: 20px;
    }

    .header__stick img {
      position: absolute;
      left: 82px;
      top: 29px;
      width: 2px;
      height: 32px;
    }
    .header__devider img{
        position: absolute;
        width: 2px;
        height: 32px;
        right: 140px;
        top: 30px;
    }
    .sidebar-call{
      display: none;
    }
  }
  
}
