@import "../vars";

.sidebar-call {
  width: 440px;
  background-color: $white;
  height: 100vh;
  position: absolute;
  left: -550px;

  z-index: 10;
  display: flex;
  flex-direction: column;
  font-family: "TT Lakes";
  transition: left 0.7s ease-in-out;
  box-shadow: -16px 0px 52px rgba(168, 141, 231, 0.349);
  .call-sidebar {
    font-size: 22px;
    font-weight: 900;
    padding-top: 24px;
    padding-left: 22px;
  }
  .number-sidebar {
    padding-left: 22px;
    padding-top: 20px;
  }
  .number-sidebar input {
    width: 376px;
    height: 48px;
    padding-left: 10px;
    border: $border 1px solid;
    border-radius: 7px;
  }
  .number-sidebar input::placeholder {
    color: $placeholder;
  }
  .text-sidebar{
    padding-left: 22px;
    padding-top: 10px;
    width: 386px;
    height: 48px;
    font-size: 14px;
    color: $menu-text-color;
    font-weight: 500;
  }
  .text-sidebar span{
    color: $colorSide;
  }
  .send-sidebar{
    padding-top: 25px;
    padding-left: 260px;
  }
  .stick-sidebar{
    position: absolute;
    top: 15px;
   
  }
  .stick-sidebar img{
    width: 3px;
    height: 33px;
  }
  .cancel-sidebar{
    position: absolute;
    top: 10px;
    left: -66px;
    border: none;
    
  }
  
}
